/* GLOBAL STYLES */

body {
  margin:0;
  padding:0;
  background: #222;
}
header {
  background: #ccc;
  color: #444;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
}
h2 {
  font-size: 1.5em;
}

nav ul{
	list-style:none;
	font-size: 1em;
	background: #888;
	margin: 0;
	padding: 0;
}
nav li {
	
	text-align: center;
	border: 1px solid #555;
}
nav a{
	text-decoration: none;
	font-family: cursive;
	color: white;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  background: #eee;
  text-align: center;
  padding: 2px;
}
section {
  font-size: 1em;
  background: #888;
   margin: 1em 1% 1em 1%;
  
}
.body {
	border-style: solid;
	background-color: skyblue;
}
.body h2 {
	font-family: cursive;
	text-align: center;
}
.body2 {
	border-style: solid;
	background-color: skyblue;
}
.body2 h2 {
	font-family: cursive;
	text-align: center;
}
/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 600px) {  
 body{
	 background: black;
	 font-family: verdana;
 }
 section {
  display: inline-block;
  width: 45%;
  
  
 }
 
nav ul{
	margin: 0;
	padding: 0;
}
nav li {
	width: 150px;
	border-bottom: none;
	border-left: none;
	border-color: #888 ;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	display: inline-block;
	margin-right: -4px;
	
}
} 
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  body{
	 background: #000;
	 color: black;
 }
 main{
	 max-width: 100%;
	 position: relative;
	 margin: 0;
	 padding: 2px;
	 
 }
 section {
  width: 200px;
  margin: 0;
  padding: 0;
		
 
 }
 
nav {
	position: relative;
	left: 0px;
}
nav ul {
	padding: 0;
	margin: 0;
	
}
nav li {
	width: 250px;
	border-bottom: none;
	border-left: none;
	border-color: #888 ;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	display: inline-block;
	margin: 0;
	margin-right: -4px;
	padding: 0;
	
}
}
